/*html5*/
article,aside,dialog,main,footer,header,section,footer,nav,figure,menu{display:block}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
}
div{
    display: block;
}

body{
    background: #ffffff;
    font: 12px 微软雅黑,黑体,Verdana,Arial,sans-serif;
    color: #333;
}

/*.lufax-header*/
.lufax-header .head-body .link-logo img, .lufax-header .head-body .logo img, .lufax-header .head-body .slogan img {
    vertical-align: middle;
    height: 100%;
}

/*.lufax-navigator*/
.lufax-navigator .main-nav li.has-sub-nav ul.sub-nav-list li a span, .lufax-navigator .main-nav>li>a span {
    display: none;
}

ul,ol{
    list-style-type: none;
}

/*ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}*/

a img,img
a{
    border: 0;
}

a{
    text-decoration: none;
    color: #2438cd;
    outline: 0;
}

a:hover{
    text-decoration: none;
}

/*float*/
.l{
    float: left;
}

.r{
    float: right;
}

/*clear float*/
.clearfix:before,.clearfix:after{
    content: "";
    display: table;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
    overflow: hidden;
}

.clearfix{
    zoom: 1;/*IE6,IE7*/
}