/*html5兼容IE8及以下版本的浏览器*/
article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}

/*页面样式的初始化*/
*{
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
}

/*页面通用样式*/
body{
    background-color: #ffffff;
    font: 14px "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif;
    color: #333333;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}